@import url(http://fonts.googleapis.com/css?family=Roboto);

.recipe-display {
  overflow: auto;
  height: 200px;
  margin: 10px 0;
  border-top: 2px solid #B31E1E;
  border-bottom: 2px solid #B31E1E;
 }

 .recipe-display img{
    margin-top: 20px;
    line-height: 200px;
    vertical-align: middle;
    float: left;
    width: 200px;
    height: 200px;
    height: 80%;
    padding-right: 15px;
 }

.response-text{
  color: black;
}

.recipe-display p:first-child{
  margin-top: 40px;
}

#logo {
	    width: 300px;
      height: 300px;
      margin-top:40px;
}

#box {
    text-align: center;
}

.image {
  width: 100px;
  height: 100px;
}

.display {
	  margin-top: 50px;
}

.icon {
    text-align: justify;
}

#login {
  margin-top: 40px;
  color:white;
}

.btn {
  background-color:red;
}


.card {
  margin-top:30px;
}

.form-group{
  border-color:red;
}

input[type="text"]:focus {
  border-color: red;
  box-shadow: 1px 1px 1px red inset,1px 1px 1px red;

}

#footer {
  margin-top:20px;
  text-align: center;
}





